.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25rem;
    grid-template-rows: minmax(min-content, max-content);
    justify-content: center;
    padding: 3em 2em;
    scroll-snap-align: center;
    &--center {
        text-align: center;
    }
    &--row-4 {
        text-align: center;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
    }
    &--row-2 {
        text-align: center;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
    &--fill {
        background: @grey--light;
    }
    &--highlight {
        border-top: 1px solid @highlight;
    }
    &:hover > .ico {
        box-shadow: inset 0px 0px 7.5px 0px rgba(0,0,0,.9);
    }
} 

img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: 0 60%;
}

.ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background: @highlight;
    border-radius: 50%;
    transition: box-shadow 275ms linear;
    &--center {
        margin: 0 auto;
    }
    @media screen and (max-width: 800px) {
        margin: 0 auto 25px auto;
    }
}

.logo {
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
    height: 20px;
    width: 20px;
}

.social {
    fill: white;
    width: 40px;
    height: 40px;
    transition: fill 275ms linear;

    &:hover {
        fill: @highlight;
    }
}