form {
    width: 100%;
}

.input {
    color: @white;
    outline: 1px solid @white;
    border: none;
    background: none;
    width: 100%;
    height: 64rem;
    padding: 0 25px;
    transition: outline 275ms linear;
    margin-bottom: 25px;
    &:focus {
        outline: 1px solid @highlight;
    }
}