html{ 
    font-size: 1px;/*for using REM units*/
 }
 body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16rem;
    line-height: 1.3;
    color: #fff;
 }


 h1 {
    font-size: 48rem;
    font-weight: 400;
 }
 
 h2 {
    font-size: 24rem;
    font-weight: 150;
 }

 p {
    font-size: 15rem;
 }

 .text__subtitle--highlight {
    color: @highlight;
 }